$color-primary: #61b390; 
$color-primary-light: #bad8b6;
$color-primary-dark: #01352c; 

$color-secondary-autumn-light: #eccd32;
$color-secondary-autumn-dark: #ed4c29;
$color-secondary-summer-light: #89b112;
$color-secondary-summer-dark: #4e7d30;
$color-secondary-winter-light: #7fabd2;
$color-secondary-winter-dark: #275d8c; 


$color-grey-light-1: #f7f7f7;

$color-grey-darkest: #333;
$color-grey-dark: #777;
$color-white: #e1eacd; 
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
